In [31]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(0, high=9, size=(100,2)),
         columns = ['A', 'B'])

In [32]:
df['A'].value_counts()

8    13
5    13
4    13
0    12
3    11
7    10
1    10
6     9
2     9
Name: A, dtype: int64

In [33]:
df

    A  B
0   7  7
1   2  8
2   0  3
3   5  2
4   0  7
5   1  3
6   7  1
7   4  0
8   4  8
9   8  4
10  4  1
11  6  7
12  3  3
13  2  0
14  2  0
15  4  0
16  4  7
17  1  3
18  1  8
19  5  1
20  1  2
21  5  8
22  3  1
23  1  4
24  0  7
25  5  4
26  7  5
27  8  2
28  3  3
29  5  2
.. .. ..
70  0  0
71  4  6
72  8  5
73  2  1
74  6  7
75  2  6
76  4  6
77  0  3
78  6  3
79  3  1
80  7  2
81  0  3
82  3  1
83  4  5
84  8  2
85  6  6
86  1  8
87  7  4
88  2  2
89  3  0
90  1  6
91  7  0
92  0  3
93  8  2
94  5  8
95  7  6
96  5  1
97  0  1
98  8  2
99  5  8

[100 rows x 2 columns]

In [34]:
threshold = 10 # Anything that occurs less than this will be removed.
for col in df.columns:
    value_counts = df[col].value_counts() # Specific column 
    to_remove = value_counts[value_counts <= threshold].index
    df[col].replace(to_remove, 0, inplace=True)

In [35]:
df['A'].value_counts()

0    50
8    13
5    13
4    13
3    11
Name: A, dtype: int64

In [36]:
df

    A  B
0   0  7
1   0  0
2   0  3
3   5  2
4   0  7
5   0  3
6   0  1
7   4  0
8   4  0
9   8  0
10  4  1
11  0  7
12  3  3
13  0  0
14  0  0
15  4  0
16  4  7
17  0  3
18  0  0
19  5  1
20  0  2
21  5  0
22  3  1
23  0  0
24  0  7
25  5  0
26  0  0
27  8  2
28  3  3
29  5  2
.. .. ..
70  0  0
71  4  6
72  8  0
73  0  1
74  0  7
75  0  6
76  4  6
77  0  3
78  0  3
79  3  1
80  0  2
81  0  3
82  3  1
83  4  0
84  8  2
85  0  6
86  0  0
87  0  0
88  0  2
89  3  0
90  0  6
91  0  0
92  0  3
93  8  2
94  5  0
95  0  6
96  5  1
97  0  1
98  8  2
99  5  0

[100 rows x 2 columns]